<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/myfirsthibernatedb</property>
    <property name="hibernate.connection.username">newuser</property>
    <property name="hibernate.connection.password">MYL841f8</property>

    <property name="hibernate.hbm2ddl.auto">update</property>
    <!-- Enable debug information -->
    <property name="show_sql">true</property>
    <mapping class="newpackage.EntityPackage.OffertaEvento"/>
    <mapping class="newpackage.EntityPackage.OffertaPernotto"/>
    <mapping class="newpackage.EntityPackage.Offerta"/>
    <mapping class="newpackage.EntityPackage.OffertaTrasporto"/>
    <mapping class="newpackage.EntityPackage.OffertaEvento"/>
    <mapping class="newpackage.EntityPackage.Pacchetto"/>
    <mapping class="newpackage.EntityPackage.User"/>
    <mapping class="newpackage.EntityPackage.WebClient"/>
    <mapping class="newpackage.EntityPackage.Carrello"/>

  </session-factory>
</hibernate-configuration>